/* * { border: 1px solid red; } */

/* --------------- Main Design ---------------*/



header{
  margin: 0;
  height: 70px;
  background-color: white;


}

body{
  margin: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

footer{
  background-color: #1e2023;
  color: white;
}


h2{
  text-align: center;

}

/* --------------- Header Design ---------------*/

.header-outer{
  display: flex;
  height: 100%;
  width: 50%;
  margin: auto auto;
  justify-content: center;

}
.navMenu{
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.but{
  margin: auto;
}

.navMenu a{
  float: left;
  color: #1e2023;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.navMenu a:hover {
  background-color: #1e2023;
  color: white;
}

.navMenu a.active {
  background-color: #1e2023;
  color: white;
}
/* --------------- Introduction Homepage Design ---------------*/
.introduction{
  background-color: #1e2023;
  height: 790px;
  color: white;
  display: flex;
  justify-content: center;
}

.intro-outer{
  display: block;
  margin: auto auto;
}
.earth{
  display: block;
  margin: auto auto;
}

#container {
	text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

#text {
  font-size: 50px;
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 81px;
	background-color: white;
  margin: 0 auto;
	animation: blink .85s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: white;
	}
}


/* --------------- About ---------------*/

.about{
  background-color: white;
  height: 200px;
  color: 1e2023;
  display: block;
}
.name{
  width: 50%;
  margin: 30px auto;
}
.tet{
  width: 85%;
  margin: 10px auto;
}

/* --------------- Experience ---------------*/
.experience-outter{
  background-color: white;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}


.intern-outer{
    display: inline-block;
    width: 20%;
    margin: 0 40px 0 40px;
}

.mediacy-logo{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  width: 180px;
    height: 180px;
  /* object-fit: contain; */
  /* border: 10px solid black; */

}

.role{
  font-size: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.desc{
  margin: 0 auto;
  display: block;
  text-align: center;
}

.uni-outer{
  display: inline-block;
  width: 20%;
  margin: 0 40px 0 40px;
}

.UMBC-logo{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  width: 180px;
    height: 180px;
  /* object-fit: contain; */
  /* border: 10px solid black; */

}


.college-outer{
  display: inline-block;
  width: 20%;
  margin: 0 40px 0 40px;
}

.mc-logo{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  width: 180px;
    height: 180px;
  /* object-fit: contain; */
  /* border: 10px solid black; */
/* border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch; */
}

/* --------------- Skills ---------------*/

.skills{
  /* margin-top: 200px; */
}

.skill-header{
  width: 75%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.skill-h{
  display: inline-block;
  width: 30%;

}
.proj-h{
  display: inline-block;
  width: 30%;

}

.skill-outer{
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;

}

.subjects{
  display: inline-block;
  width: 20%;
  margin: 0 5% 0 5%;
}

.language{
  display: inline-block;
  width: 20%;
  margin: 0 5% 0 5%;
}

.project{
  display: inline-block;
  width: 20%;
  margin: 0 5% 0 5%;
}
/* --------------- Contact ---------------*/

.footer-outer{
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.copyright{
    margin: 0 auto;
}
