/*
* { border: 1px solid red; } */


body{
  font-family: 'Lora', serif;
  margin: 0;
  color: #F4F4F4;
}



.header{
  height: 100px;
  width: 100%;
  background-color: #F0A500;
  position: fixed;
  display: block;
}
.header-outer{

   padding-left: 200px;
   padding-right: 200px;
   padding-top: 20px;
   margin-bottom: 0;
}
.header-content{
  width: 600px;
  padding-top: 10px;
  margin: 0  auto 0 auto;
  font-size: 40px;
  padding-left: 30px;
}

.Homepage{
  background-color: #1A1C20;
  height: 850px;
  display: block;
}

.Homepage-outer{

  margin: 0 auto 0 auto;
}

.welcome{
  padding-top: 150px;
  margin: 0  auto 0 auto;

}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  max-width: 100%;max-height: 100%;
  text-align: center;
}

.description{
  font-size: 40px;
text-align: left;
  max-width: 100%;max-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}


footer{
  display: block;

  height: 100px;
  background-color: #CF7500;
}

.footer-outer{
  height: 90%;
  padding: 10px 10px 0 10px;
  margin: 0  auto 0 auto;

}
.footer-text{
  padding: 20px;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}


.Resume-Homepage{
  background-color: #1A1C20;
  height: 850px;
  display: block;
}

.Resume-Homepage-outer{

  margin: 0 auto 0 auto;
}
