/* html * {
  background: rgba(255, 0, 0, .1);
  box-shadow: 0 0 0 1px red;
} */


body{

    background-color: #E7E6E1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

.header{

  padding-top: 0;
  padding-right: 100%;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #295939;
  position: fixed;
  width: 100px;
}

.Homepage{
  display: block;
  padding: 100px;
  width: 95%;

}

.homepage-text{
padding-left: 10px;

}

#welcome{
  margin: 0  auto 0 auto;
  padding-right: 200px;
}


h1{
  margin: 0;
  color: #295939;
}

.description{
  margin: 0;

}
h3{
  color: #295939;
}

h2{
  text-align: center;
  padding-right: 10px;
}
